<div class="container-fluid">
  <div class="row align-items-center shadow text-white d-flex navigation">
    <div class="col-2 p-3 bg-dark border-bottom">
      MyFinances
    </div>
    <div class="col-10 border p-3 d-flex justify-content-end bg-light text-black">
        David Cantu
        <mat-icon class="" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
  </div>

  <div class="row content">
    <div class="col-2 bg-dark text-white hidden-md-down h-100 shadow pt-3">Navigation</div>
    <div class="col-10 pt-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>

</div>
